/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
/* @import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500); */
@media only screen and (min-width: 992px){
.main-menu ul a, .main-menu ul li a {
    color: #000;
    padding: 0 8px 15px;
    font-size: 13px;
    font-size: .8125rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    }
    .main-menu {
        top: 20px;
    }
    header{
        height: 100px;
        background: #fff;
    }
    .slider{
        top: 100px;
    }
}
ul#top_menu {
    margin: 0.5% 0 0 0;
}
ul#top_menu li a.btn_1 {
    background-color: #166c2a;
    color: #fff;
}
ul#top_menu li a.login:before, ul#top_menu li a.search-overlay-menu-btn:before{
    color: #000!important;
}
header.header.sticky{
    background: #fff;
}
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
    background-color: #000;
}
#slider.flexslider ul.slides li img {
    top: 47%;
    opacity: 1;
}
a.btn_1, .btn_1 {
    background: #166c2a;
}
#carousel_slider.flexslider ul.slides li{
    width: 200px!important;
}
#carousel_slider.flexslider ul.slides li .caption h3{
    font-size: 16px;
}
.main_title_2 span em {
    background-color: #166c2a;
}
section.feature-section {
    padding: 125px 0 0;
}
section.feature-section .feature-box {
    padding-bottom: 30px;
    border-bottom: 1px solid #e9e9e9;
}
section.feature-section .feature-box .feature-post {
    margin-bottom: 40px;
    display: flex;
}
section.feature-section .feature-box .feature-post div.icon-holder {
    margin-right: 30px;
}
section.feature-section .feature-box .feature-post div.icon-holder i {
    width: 70px !important;
    height: 70px !important;
    line-height: 68px;
    text-align: center;
    color: #166c2a;
    font-size: 34px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    border-radius: 22px;
    position: relative;
    border: 1px solid #166c2a;
    display: inline-block;
}
.feature-section{
    font-size: 18px;
}
.feature-content h2{
    font-size: 18px;
}
.title-section{
    margin-bottom: 30px;
}
.feature-content p{
    font-size: 15px;
}
#reccomended .owl-item {
    opacity: 1;
}
.icon-holder{
    padding: 25px 10px 0 25px;
}
.icon-holder i {
    display: inline-block;
    width: 70px !important;
    height: 70px !important;
    line-height: 68px;
    text-align: center;
    color: #166c2a;
    font-size: 34px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    border-radius: 22px;
    position: relative;
    border: 1px solid #166c2a;
    font-size: 33px;
}
.btn_home_align {
    text-align: center;
}
.box_general {
    background-color: #fff;
    padding: 15px 30px 0 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
    color: #777;
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.list_general > ul > li {
    margin: 0 -30px 0 -30px;
    position: relative;
    padding: 30px 30px 5px 30px;
    border-top: 1px solid #ededed;
}
.list_general > ul span {
    float: right;
    font-style: italic;
    color: #adb5bd;
}
.profile {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
}

.percentage {
    font-size: 30px
}

.testimonials {
    padding: 25px!important;
}
.rounded1{
    background-color: #fff;
    display: block;
    position: relative;
    margin-bottom: 30px;
   -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.rounded1 h3{
    font-size: 1.25rem;
}
.rounded1 ul li {
    display: inline-block;
    margin-right: 15px;
}
.rounded1 ul li:last-child {
    margin-right: 0;
    float: right;
}
.rounded-a {
    border: 2px solid #166c2a;
    color: #166c2a;
    background: #fff;
    padding: 5px 20px;
    font-weight: 500;
    line-height: 1;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}
.rounded-a:hover{
    background: #166c2a;
    color: #fff;
}
.box_grid ul li:last-child a {
    background: #fff;
    border: 2px solid #166c2a;
    color: #166c2a;
}
ul#grid_home li {
    width: 25%;
}
ul#grid_home li:nth-child(4) .short_info {
    background-color: #3f7c4d;
}
ul#grid_home li:nth-child(3) .short_info {
  background-color: #166c2a;
}
ul#grid_home li:nth-child(2) .short_info {
  background-color: #3f7c4d;
}
ul#grid_home li:nth-child(1) .short_info {
  background-color: #166c2a;
}
ul#grid_home li:last-child .img_container:hover .short_info .btn_1{
  background-color: #fff;
  color: #000;
}
ul#grid_home li:last-child .img_container:hover .short_info .btn_1:hover {
  background-color: #fff;
  color: #000;
}
.multi{
    height: 600px;
    overflow-y: scroll;
}
@media screen and (max-width:768px){
    .slider {
        top: 55px;
    }
}
@media screen and (min-width:1023px) and (max-width:1025px){
    .main-menu ul a, .main-menu ul li a {
        padding: 0 5px 15px!important;
        letter-spacing: 1px!important;
    }
    .show_none{
        display: none;
    }
}

/* Events */

.blog-home2 {
    /* font-family: "Montserrat", sans-serif; */
    color: #8d97ad;
    font-weight: 300;
  }
  
  .blog-home2 h1,
  .blog-home2 h2,
  .blog-home2 h3,
  .blog-home2 h4,
  .blog-home2 h5,
  .blog-home2 h6 {
    color: #3e4555;
  }
  
  .blog-home2 .font-weight-medium {
    font-weight: 500;
  }
  
  .blog-home2 .bg-light {
    background-color: #f4f8fa !important;
  }
  
  .blog-home2 .subtitle {
    color: #8d97ad;
    line-height: 24px;
  }
  
  .blog-home2 .text-themecolor {
    color: #166c2a;
    border: 1px solid #166c2a;
    color: #166c2a;
    padding: 7px;
    border-radius: 20px;
    text-align: center;
  }
  
  .blog-home2 h5 {
    line-height: 22px;
    font-size: 18px;
  }
  
  .blog-home2 a.link {
    color: #3e4555;
  }
  
  .blog-home2 a.link:hover {
    color: #316ce8;
  }
  
  .blog-home2 .on-hover {
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  
  .blog-home2 .on-hover:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  
  .blog-home2 .date-pos {
    right: 10px;
    top: 10px;
  }
  
  .blog-home2 .date-pos span {
    font-size: 30px;
    line-height: 30px;
  }
  .blog-home2 .bg-info-gradiant {
      background: #188ef4;
      background: -webkit-linear-gradient(legacy-direction(to right), #188ef4 0%, #316ce8 100%);
      background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
      background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
      background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
      background: linear-gradient(to right, #166c2a 0%, #50ce6d 100%);
  }
  .my_padding{
      padding: 10px;
  }

  body{
    margin-top:20px;
    background:#eee;
}



.cd-horizontal-timeline ol, .cd-horizontal-timeline ul {
  list-style: none;
}
.cd-timeline-navigation a:hover, .cd-timeline-navigation a:focus {
   border-color:#313740;
  
}
.cd-horizontal-timeline a, .cd-horizontal-timeline a:hover, .cd-horizontal-timeline a:focus{ color:#313740;}
.cd-horizontal-timeline blockquote, .cd-horizontal-timeline q {
  quotes: none;
}
.cd-horizontal-timeline blockquote:before, .cd-horizontal-timeline blockquote:after,
.cd-horizontal-timeline q:before, .cd-horizontal-timeline q:after {
  content: '';
  content: none;
}
.cd-horizontal-timeline table {
  border-collapse: collapse;
  border-spacing: 0;
}
.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 50px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #313740;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 15px;
 
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #313740;
  border-color: #313740;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #313740;
  border-color: #313740;
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: #313740;
}
@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/cd-arrow.svg) no-repeat 0 0;
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f;
}
.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  /* max-width: 800px; */
  margin: 0 auto;
}
.cd-horizontal-timeline .events-content h4 {
  font-weight: 700;
  margin-bottom: 0px;
  line-height: 20px;
  margin-bottom: 15px;
}
.cd-horizontal-timeline .events-content h4 small {
  font-weight: 400;
  line-height: normal;
  font-size: 15px;
}
.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}
.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}
.cd-horizontal-timeline .events-content p {
  font-size: 16px;
  margin-top: 15px;
  
}

@media only screen and (min-width: 768px) {
  
  .cd-horizontal-timeline .events-content em {
    font-size: 1rem;
  }  
}

@media only screen and (max-width: 767px) {

  .cd-horizontal-timeline.loaded{ margin: 0;}  
  .cd-horizontal-timeline .timeline{ width: 100%;}
  .cd-horizontal-timeline ol, .cd-horizontal-timeline ul{padding: 0;margin: 0;}
  .cd-horizontal-timeline .events-content h4{ font-size: 16px;}
  .cd-horizontal-timeline .events-content{ margin: 0;}
  
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
.timeline:before{
  content: " ";
    display:none;
    bottom: 0;
    left: 0%;
    width: 0px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}
.ul_btn{
    color: #000;
    background: #fff;
}
.ul_btn:hover{
  color: #000;
  background: #fff;
}

